.details button{
    margin: 0 auto;
}

.intro{
    display: flex;
    justify-content: space-between;
}
.intro img{
    height: 50px;
}

.locate p{
    margin: 5px 10px;
}

.locate{
    display: flex;
    justify-content: left;
}