*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.msgpos{
  position: absolute;
  top:50%;
  width: 100%;
}

.joblist{
  margin-top: 50px;
}
