.button{

    padding: 10px;
    margin: 30px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0 0 10px white;
}

.full{
    width: 70%;
    background-color: #0093E9;
}