.form-group{
    width: 60%;
    margin:10px 0;
    display: flex;
    justify-content: center;
}

.form-group input{
    border: none;
    outline: none;
    border-bottom:1px black solid ;
    padding:5px 10px;
    font-size: 16px;
    width: inherit;
    border-radius:5px;
    
}