.job-item .data a{
    color: black;
    margin: 0;
}

.job-item .data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.data img {
    height: 40px;
    margin-left:30px;
}

.job-item a{
    font-size: 20px;
}
